* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
}

h1{
		text-align: center;
}

.navbar ul {

}

.navbar a {

}

recently-viewed {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 2rem 0;
		
}

product-list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 2rem 0;
}

.footer-container {
		background-color: #212321;
		padding-bottom: 4rem;

}

.footer {
		width: 80%;
		height: 40vh;
		background-color: #212321;
		color: #fff;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 0;
}

.footer-heading {
		display: flex;
		flex-direction: column;
		margin-right: 4rem;
}